$background_color_all: rgb(188, 189, 233);

$background_color_header: rgb(6, 107, 114);

$icon_u_color: rgb(0, 0, 0);

$links_color: blue;


// @media only screen and (max-width: 376px) {

//     p {
//         font-size: 13px;
//     }

//     h1 {
//         font-size: 16px;

//     }

//     h3 {
//         font-size: 14px;
//     }

//     body {
//         background-color: $background_color_all;
//         text-align: center;
//         align-items: center;


//         header {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             height: 60px;
//             background-color: $background_color_header;

//             .icon_header {
//                 height: 40px;
//                 border-radius: 50px;

//             }

//             .header_right_part {
//                 display: none;
//             }
//         }

//         .body_except_for_header {
//             margin: 0 8%;
//         }


//         .about_me {
//             margin-top: 10%;
//             line-height: 20px;
//             display: flex;
//             flex-direction: column;

//             .profile_pic {
//                 height: 100px;
//                 border-radius: 100px;

//             }
//         }

//         .all_sections {

//             margin-top: 15%;
//             line-height: 20px;

//             .big_headings {
//                 display: flex;
//                 justify-self: start;
//                 margin-bottom: 7.5%;

//             }

//             .skill_icons_div {
//                 display: flex;
//                 justify-content: space-around;

//                 .skill_icons_pics {
//                     height: 30px;
//                 }

//             }
//         }

//         .experience_1 {
//             margin-top: 7.5%;
//             line-height: 25px;
//             text-align: start;

//             .job_description_list {
//                 margin-top: 5%;
//                 font-size: 12px;
//             }


//         }

//         .twitter_clone_img {
//             margin: 3% 0;
//         }

//         .links_twitter_clone {
//             cursor: pointer;
//             color: $links_color;
//             font-size: 13px;
//             word-spacing: 50px;
//             margin-top: 3%;

//             .twitter_clone_links {
//                 text-decoration: underline;
//             }


//         }

//         .contact_icons {
//             display: flex;
//             justify-content: space-around;
//             font-size: 12px;


//             .contact_parts {
//                 display: flex;
//                 flex-direction: column;

//                 .contact_adresses_text {
//                     margin-top: 2%;
//                     color: $links_color;
//                     text-decoration: underline;
//                 }
//             }
//         }

//         .inputs_contact {
//             text-align: start;
//             margin-top: 5%;

//             input {
//                 background-color: grey;
//             }

//             .input_2 {
//                 height: 40px;
//             }

//             .button_send_message {

//                 height: 30px;
//                 width: 100px;
//                 background-color: $links_color;
//                 margin-top: 2%;
//                 border-radius: 10px;
//                 text-align: center;
//                 vertical-align: middle;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;

//                 .button_text {
//                     color: white;

//                 }
//             }
//         }

//         footer {
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//         }

//         .icon_footer {
//             height: 40px;
//             border-radius: 50px;
//         }

//         .footer_name {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-left: 2%;
//         }


//     }
// }


h1 {
    font-size: 25px;
    margin-bottom: 3%;

}

h2 {
    font-size: 20px;
    margin-bottom: 2%;
}

h3 {
    font-size: 18px;
    margin-top: 2%;

}

p {
    font-size: 16px;
}

body {
    background-color: $background_color_all;

    header {
        display: flex;
        align-items: center;
        height: 70px;
        background-color: $background_color_header;
        justify-content: space-between;
        

        .icon_header {
            border-radius: 2rem;
            height: 50px;
        }

        .header_left_part {
            margin: 0 3%;

        }

        .header_right_part {
            color: white;
            margin: 0 5%;



            .header_buttons {
                margin: 0 1rem;
            }

        }
    }



    .body_except_for_header {
        margin: 0 10%;


        .all_sections {
            margin: 10% 0;
        }

        .about_me {
            display: flex;


            .profile_pic {
                height: 15rem;
                border-radius: 20rem;
            }
        }

        .about_me_right_part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 30px;
            text-align: left;
            margin-left: 3%;
        }
    }

    .skill_icons_div {
        display: flex;
        justify-content: space-around;

        .skill_icons_pics {
            height: 60px;
            margin-top: 30%;
        }

    }

    .experience {
        line-height: 35px;
    }

    

    .project_1 {
        display: flex;


        .twitter_clone_img {
            height: auto;
            width: 600px;
        }

        .twitter_project_right_part {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 3%;
            text-align: left;
            line-height: 50px;
            font-size: 18px;

            .links_twitter_clone {
                display: flex;
                color: $links_color;
                text-decoration: underline;
                justify-content: center;
                justify-content: space-around;

            }


        }

    
    }

    .project_2 {
        display: flex;
        margin-top: 6%;
    }

    .contact_icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;



        .contact_parts {
            display: flex;
            flex-direction: column;
            align-items: center;

            .contact_adresses_text {
                margin-top: 2%;
                color: $links_color;
                text-decoration: underline;
            }
        }
    }

    .inputs_contact {
        text-align: start;
        margin-top: 5%;

        input {
            background-color: grey;
            width: 30rem;
            height: 3rem;
        }

        .input_2 {
            width: 30rem;
            height: 6rem;
        }

        .button_send_message {

            height: 40px;
            width: 120px;
            background-color: $links_color;
            margin-top: 2%;
            border-radius: 10px;
            text-align: center;
            vertical-align: middle;
            display: flex;
            justify-content: center;
            align-items: center;

            .button_text {
                color: white;

            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        bottom: 0%;
    }

    .icon_footer {
        height: 50px;
        border-radius: 40px;
    }

    .footer_name {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        font-size: 18px;
    }

}